@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/serpentine');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
header h1{
    padding-left: 15px;
    font-size: 40px;
}
header h1, h2{
    color: rgb(211, 211, 211);
    display: inline;
    
    font-family: 'SERPENTINE', sans-serif;                          
}
h1 h2{
    font-size: 30px;
}
nav{
    text-align: right;
    display: inline;
}
nav a{
    font-size: x-large;
    display: inline;
    text-decoration: none;
    color: rgb(212, 212, 212);
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;

    font-family: 'SERPENTINE', sans-serif;                                               
}
a{
    text-decoration: none;
}
.header{
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: black;
    height: 35px;
    position: sticky;
    top: 0;
    z-index: 2;
}
html,body {
    padding:0;
    margin:0;
    background-color: black;
}
.section1{
    height: 70vh;
    box-sizing: border-box;

    background-image: url(Img/Sekiro-Shadows-Die-Twice-Character.png);
    background-size: 100vw;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.goty img{
    width: 30vw;
}
.goty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.logo img{
    width: 30vw;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.section2{
    width: 100%;
    height: 285vh;

    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://www.sekirothegame.com/content/dam/atvi/sekiro/gallery/Sekiro_03.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@-webkit-keyframes slideshow{
    0% {background-position: 0%;}    
    15% {background-position: 0%;}
    33.3% {background-position: 33.3%;}
    40% {background-position: 33.3%;}
    66.6% {background-position: 66.6%;}
    75% {background-position: 66.6%;}
    90% {background-position: 100%;}
    100% {background-position: 100%;}
}
.img-container1{
    overflow: hidden;
    background-image: url(Img/image\ \(1\).jpg);
    background-size: cover;
    height: 38vh;
    width: 33.3vw;
    background-repeat: no-repeat;
    background-position: 0%;
    margin-left: 15vw;
    border-radius: 10px;

    -webkit-animation-name: slideshow;
    -webkit-animation-duration: 15s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-delay: 3s;
}
.des1{
    height: 38vh;
    padding-top: 25vh;
    position: relative;
}
.text1{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 25vh;
    width: 100%;
    text-align: center;
}
.text1 h1{
    float: right;
    margin-top: 10px;
    margin-right: 18vw;
    font-size: 2vw;
    color: rgb(208, 191, 136);
    display: block;

    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
}
.text1 p{
    position: absolute;
    left: 52%;
    top: 50px;
    color: rgb(208, 191, 136);
    font-size: 1.5vw;
    text-align: center;
    width: 33vw;
    
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}
.des2{
    height: 38vh;
    padding-top: 25vh;
    position: relative;
}
.img-container2{
    overflow: hidden;
    background-image: url(Img/image\ \(2\).png);
    background-size: cover;
    height: 38vh;
    width: 33.3vw;
    background-repeat: no-repeat;
    background-position: 0%;
    margin-right: 15vw;
    border-radius: 10px;
    float: right;

    -webkit-animation-name: slideshow;
    -webkit-animation-duration: 15s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-delay: 2s;
}
.text2{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 25vh;
    width: 100%;
    text-align: center;
}
.text2 h1{
    float: left;
    margin-top: 10px;
    margin-left: 18vw;
    font-size: 2vw;
    color: rgb(208, 191, 136);
    display: block;

    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
}
.text2 p{
    position: absolute;
    right: 52%;
    top: 50px;
    color: rgb(208, 191, 136);
    font-size: 1.5vw;
    text-align: center;
    width: 33vw;
    
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}
.img-container3{
    overflow: hidden;
    background-image: url(Img/image\ \(3\).png);
    background-size: cover;
    height: 38vh;
    width: 33.3vw;
    background-repeat: no-repeat;
    background-position: 0%;
    margin-left: 15vw;
    border-radius: 10px;

    -webkit-animation-name: slideshow;
    -webkit-animation-duration: 15s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-delay: 1s;
}
.des3{
    height: 38vh;
    padding-top: 25vh;
    position: relative;
}
.text3{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 25vh;
    width: 100%;
    text-align: center;
}
.text3 h1{
    float: right;
    margin-top: 10px;
    margin-right: 13vw;
    font-size: 2vw;
    color: rgb(208, 191, 136);
    display: block;

    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
}
.text3 p{
    position: absolute;
    left: 52%;
    top: 50px;
    color: rgb(208, 191, 136);
    font-size: 1.5vw;
    text-align: center;
    width: 33vw;
    
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}
.des4{
    height: 38vh;
    padding-top: 25vh;
    position: relative;
}
.img-container4{
    overflow: hidden;
    background-image: url(Img/image\ \(4\).png);
    background-size: cover;
    height: 38vh;
    width: 33.3vw;
    background-repeat: no-repeat;
    background-position: 0%;
    margin-right: 15vw;
    border-radius: 10px;
    float: right;

    -webkit-animation-name: slideshow;
    -webkit-animation-duration: 15s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-delay: 2s;
}
.text4{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 25vh;
    width: 100%;
    text-align: center;
}
.text4 h1{
    float: left;
    margin-top: 10px;
    margin-left: 13vw;
    font-size: 2vw;
    color: rgb(208, 191, 136);
    display: block;

    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
}
.text4 p{
    position: absolute;
    right: 52%;
    top: 50px;
    color: rgb(208, 191, 136);
    font-size: 1.5vw;
    text-align: center;
    width: 33vw;
    
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}
.s-text{
    margin: auto;
    font-size: 125%;
    color: rgb(208, 191, 136);
    text-align: center;
    width: 75vw;
    padding-top: 20vh;

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}
.awards{
    background-image: url(Img/sekiro-shadows-die-twice-castle-fire-ab42pebqzoz9xaly.jpg);
    width: 99vw;
    height: 110vh;
    background-size: cover;
}
.awards td{
    padding-bottom: 1vw;
    border: 5px solid rgb(208, 191, 136);
    border-radius: 5px;
    color: rgb(208, 191, 136);
    text-align: center;
    font-size: x-large;

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}
.awards th{
    padding: 1vw;
    border: 5px solid rgb(208, 191, 136);
    border-radius: 5px;
    color: rgb(208, 191, 136);
    text-align: center;
    font-size: x-large;

    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
}
.awards table{
    width: 75%;
    height: 40vh;
    margin: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
}
.awards img{
    height: 3vw;
    width: 3vw;
    margin: auto;
    color: rgb(208, 191, 136);
    filter: invert(100%);
    padding-top: 2vw;
}
.awards td:hover, th:hover{
    background-color: rgb(243, 145, 88);
    opacity: 50%;
    color: black;
    transition: 0.8s ease;
}
.footer{
    background-color: black;
    width: 99vw;
    height: 39vh;
}
.footer table{
    width: 75%;
    height: 40vh;
    margin: auto;
}
.footer h1{
    display: block;
    color: white;
    font-size: 4vw;
    margin-bottom: 5vh;

    font-family: 'SERPENTINE', sans-serif;   

}
.footer td{
    padding-bottom: 1vw;
    border-radius: 5px;
    color: rgb(208, 191, 136);
    text-align: center;
    font-size: x-large;

    
}
.footer a{
    text-decoration: none;
    color: #dddd;
    display: inline;
    font-size: xx-large;
}
.footer img{
    height: 1.5vw;
    width: 1.5vw;
    margin: auto;
    color: rgb(208, 191, 136);
}
img.two{
    width: 2vw;

}